@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:ital,wght@0,400;0,500;1,500&display=swap');

* {
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;

    background-image: url(../imagenes/fondo.jpg);
    background-size: 45%;
    background-repeat: repeat;
}

header {
    text-align:center;
    width: 100%;
    height: 30vh;
    margin-bottom: 0;
}

h1, h2 {
    color:blueviolet;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-size: 30px;
   
}

ul {
    margin-left: 3%;
    list-style-type:circle;
}

.bajada, #vinculo {
    color: black;
    font-weight: 500;
    text-decoration: none;
}

#vinculo:hover{
    font-style:italic;
    color:blueviolet;
}

main {
    width: 90%;
    margin: auto;
    display: flex; /*encolumnar elementos*/
    flex-wrap: wrap; /*permite que los elemtentos vayan a la siguiente fila*/
    justify-content: space-between; /*para generar espacios entre elementos*/ 
}

.enlace {
    text-decoration: none;
    text-align: center;
    margin: auto;
    color: white;
    background-color: black;
    border-radius: 10px;

    font-weight: 500;
    font-size: 10px;

    margin-top: 10px;
    width: 100px;
    height: 30px;
    line-height: 30px;

    display: block;

    transition-property: all;
    transition-duration: 1s;
}

.enlace:hover {
    background-color: rgb(196, 152, 227);
    color: black;
    transform: scale(1.1);
    width: 110px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
}

div {
    width: 45%;
    margin-top: 45px;
}


img { 
    width: 100%;

}

video {
    width: 100%;
    margin-top: 45px;
}

footer {

    margin-top: 50px;
    text-align: center;
    background-color: rgb(196, 152, 227);
    color: black;

    font-size: 15px;
    line-height: 20px;
}


.derechos {
    font-size: 12px;
}

.icono-animado {

    float: right;
    margin-right: 5%;
    margin-top: 5px;
    width: 70px;
    border-radius: 100%;

    animation-name: animacion;
    animation-duration: 10s; 
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
}

@keyframes animacion {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}